<br><br><br><br><br>
 <!-- ======= Contact Section ======= -->
 <div class="map-section">
    <iframe style="border:0; width: 100%; height: 350px;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3782.8404284243384!2d73.83156627432007!3d18.536111768701097!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc2bf7ba4100001%3A0x2d93617adadd9f43!2sSymbiosis%20Center%20for%20Distance%20Learning%20(SCDL)!5e0!3m2!1sen!2sus!4v1693924944864!5m2!1sen!2sus" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>

  <section id="contact" class="contact">
    <div class="container">

      <div class="row justify-content-center" data-aos="fade-up">

        <div class="col-lg-10">

          <div class="info-wrap">
            <div class="row">
              <div class="col-lg-4 info">
                <i class='fas fa-map-marker-alt' style='font-size:24px'></i>
                <h4>Location:</h4>
                <p>Symboisis<br>Model Colony, Pune-16</p>
              </div>

              <div class="col-lg-4 info mt-4 mt-lg-0">
                
                <i class="fa fa-envelope" style="font-size:24px"></i>
                <h4>Email:</h4>
                <p>info@example.com<br>contact@example.com</p>
              </div>

              <div class="col-lg-4 info mt-4 mt-lg-0">
                <i class='fas fa-phone' style='font-size:24px'></i>
                <h4>Call:</h4>
                <p>+91 95589 XXXXX<br>+91 95589 XXXXX</p>
              </div>
            </div>
          </div>

        </div>

      </div>

      <div class="row mt-5 justify-content-center" data-aos="fade-up">
        <div class="col-lg-10">
          <form action="#" method="post" role="form" class="form">
            <div class="row">
              <div class="col-md-6 form-group">
                <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
              </div>
              <div class="col-md-6 form-group mt-3 mt-md-0">
                <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
              </div>
            </div>
            <div class="form-group mt-3">
              <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
            </div>
            <div class="form-group mt-3">
              <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
            </div>
            <div class="my-3">
              <div class="loading">Loading</div>
              <div class="error-message"></div>
              <div class="sent-message">Your message has been sent. Thank you!</div>
            </div>
            <div class="text-center"><button type="submit">Send Message</button></div>
          </form>
        </div>

      </div>

    </div>
  </section><!-- End Contact Section -->
  <!--Footer section-->
<footer id="footer">

  <div class="footer-top">
    <div class="container">
      <div class="row">

        <div class="col-lg-4 col-md-7 footer-contact">
          <h3>Cloth Share Foundation</h3>
          <p>
            <strong>Batch:</strong>Team Mahesh J25<br>
            <strong>Phone:</strong> +91 99992222992<br>
            
            <strong>Email:</strong> clothssharefoundation@gmail.com<br>
          </p>
        </div>

        <div class="col-lg-3 col-md-7 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">About-Us</a></li>
            
            <li><i class="bx bx-chevron-right"></i> <a href="#">Contact</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Donate</a></li>
          </ul>
        </div>


        <div class="col-lg-4 col-md-6 footer-newsletter">
          <h4>Join Our Cloths Share Foundation..</h4>
         <p> Create an online platform specifically designed for you.<br><br>The platform will provide a user-friendly interface for sell their old cloths,books etc and earn profit.<br><br>
              Here is the place where you can Donate your old Cloth and books to the needful people. 
        </p>
        </div>

      </div>
    </div>
  </div>

  <div class="container d-md-flex py-4">

    <div class="me-md-auto text-center text-md-start">
      <div class="copyright">
        &copy; Copyright <strong></strong>. All Rights Reserved
      </div>
      <div class="credits">
       
        Designed by <a href="#">Mahesh Shembade & Priya Shinde(Batch J25) </a>
      </div>
    </div>
    <div class="social-links text-center text-md-right pt-3 pt-md-0">
      <a href="#" class="twitter"><i class="fa fa-twitter" style="font-size:24px"></i></a>
      <a href="#" class="facebook"><i class="fa fa-facebook-square" style="font-size:24px"></i></a>
      <a href="#" class="instagram"><i class="fa fa-instagram" style="font-size:24px"></i></a>
      <a href="#" class="WhatsApp"><i class="fa fa-whatsapp" style="font-size:24px"></i></a>
      <a href="#" class="linkedin"><i class="fa fa-linkedin" style="font-size:24px"></i></a>
    </div>
  </div>
</footer><!-- End Footer -->



 