<!-- ======= Header ======= -->
<header id="header" class="fixed-top">
  <div class="container d-flex align-items-center">
    
    <h1 class="logo me-auto"><a routerLink="/home">Cloth Share Foundation</a></h1>

   
   
    <nav id="navbar" class="navbar order-last order-lg-0">
      <ul>
       
      <li><a routerLink="/home" class="active">Home</a></li>
      <li><a routerLink="/about">About</a></li>
      
          
      <li><a routerLink="/contact">Contact</a></li>
      <li><a routerLink="/donate"><button type="button" class="btn btn-light">Donate</button> </a></li>
      <li><a routerLink="/shop" > <button type="button" class="btn btn-light">Store</button> </a></li>
      
      <li><a routerLink="/sign-up"> <button type="button" class="btn btn-light">Registration</button> </a></li>
      <li><a routerLink="/login" > <button type="button" class="btn btn-light">login</button> </a></li>
      
     
       </ul>
           
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav><!-- .navbar -->
  </div>
</header><!-- End Header -->